{% extends 'portfolio/base.html' %}

{% block bigPic %}
    <div class="titleLayer profile_pic1" style="text-align: left; left: -20px; color: white; background: rgba(255,255,255,0);">

        Yueh-Han Chuang
    </div>
    <div class="row profile_pic1" style="background-image: url(/static/portfolio/images/profile_pic.jpg); height: 100vh; width:100vw; background-size: cover; padding: 10vh">         
    </div>
    <div class="profile_pic2" style="text-align: left; left: -1vw; color: white;">
        Yueh-Han Chuang
    </div>       
{% endblock %} 