{% extends 'portfolio/base.html' %}

{% block bigPic %}
    <div class="titleLayer profile_pic1" style="text-align: left; left: -20px; color: white; background: rgba(255,255,255,0);">

        Yueh-Han Chuang
    </div>
    <div class="row profile_pic1" style="background-image: url(/static/portfolio/images/profile_pic.jpg); height: 100vh; width:100vw; background-size: cover; padding: 10vh">         
    </div>
    <div class="profile_pic2" style="text-align: left; left: -1vw; color: white;">
        Yueh-Han Chuang
    </div>       
{% endblock %} 

{% block content %}
<div class="col-1"></div>
<div class="col-10">
    <br>
    <br>
    <br>
    <br>
    <p class="content">
        Yueh-Han is a graduate student at Carnegie Mellon University where he is pursuing his master's degree in Mechnical Engineering. He specializes in control and robotics. Before coming to Carnegie Mellon University, he programmed a biomimetic robot at National Taiwan University.
        <br>
        <br>
        Yueh-Han is also a freelance, full-stack Web Developer. He makes responsive, dynamic websites for students and faculties who need to display their achievements on the internet.
        <br>
        <br>
        Yueh-Han loves the Internet so much that he is making a web crawler to gather information for his research on Internet security. He also has interests in machine learning and computer vision, which he has taken several relevant courses.
        <br>
        <br>
        Outside the world of coding, Yueh-Han is a dancer, a guitarist and a pianist. He won a championship on a pop dance competition with his teammates in 2014. He also formed a band in 2011. In his leisure time, Waltz, beautiful songs and new friends are always his favorite part of the life.
    </p>
</div>
<div class="col-1"></div>
{% endblock %}