{% extends 'portfolio/base.html' %}

{% block bigPic %}
    <div class="titleLayer" style="height: 72vh; word-wrap:break-word; text-align: center; background: rgba(255,255,255,0);">

        Welcome to Yueh-Han's Universe
    </div>
    <div class="row back-pic" style="background-image: url(/static/portfolio/images/.jpg);">         
    </div>
{% endblock %}
{% block content %}
    <div class="col-4 left-content"></div>
    <div class="col-4">
        <form method="get" action="{% url 'gallery' %}">
            <button class="see_gallery">See Gallery</button>
        </form>
    </div>
    <div class="col-4 right-content"></div>
{% endblock %}