{% extends 'portfolio/base.html' %}

{% block bigPic %}
    <div class="titleLayer" style="text-align: center; background: rgba(255,255,255,0);">

        Welcome to Yueh-Han's Universe
    </div>
    <div class="row" style="background-image: url(/static/portfolio/images/.jpg); height: 100vh; background-size: cover; padding: 10vh">         
    </div>
{% endblock %}
{% block content %}
    <div class="col-4"></div>
    <div class="col-4">
        <form method="get" action="{% url 'gallery' %}">
            <button style="text-align: center; width: 100%; border-radius: 5px; min-height: 10vh; font-size: 36px; background-color: skyblue; color: white; font-family: 'Chalkduster', 'fantasy'">See Gallery</button>
        </form>
    </div>
    <div class="col-4"></div>
{% endblock %}