@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

ul {
    list-style-type: none;
    margin: 0;
    background-color:white;
    display: block;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

li {
    display: inline-block;
    background-color:white;
    justify-content: center;
    align-items: center;
    vertical-align: middle;

}

footer{
    padding: 3vh;
    height: 10vh;
    text-align: center;
    font-size: 1rem;
    color: #444;
}


.top-left-logo {
    font-size: 24px;
    color: #4f4f4f;
    font-variant: small-caps;
    font-weight: bold;
    font-family: 'FreeMono', monospace;
}

.logo{
    background: transparent;
    display: table-cell;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 55%;
    padding: 1%;

}

.logo > img{
    flex-shrink: 0;
    min-width:2%;
    min-height: 2%;
}

.nav{
    margin: 0 auto;
    background-color:white;
    overflow: hidden;
    box-shadow: rgba(0,0,0,.5) 0px 10px 30px;
    display: table;
    border-bottom: 1px solid #f8f8f8;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    height: 9vh;
}

.nav_item{
    vertical-align: middle;
    padding-left: 10px;
    background-color: white;
    font-family: 'FreeMono', monospace;
}

.menu{
    display: table-cell;
    vertical-align: middle;
    background: white;
}

.menu-mobile {
    display: none;
}

.item{
    margin: 0px ;
    position: relative;
    padding: 0 8px;
    white-space: nowrap ;
    border: none;
    background: transparent;
    vertical-align: middle;
}

.item_con{
    padding: 15px ;
    line-height: 1 ;
    border-bottom: 2px solid transparent;
    background: transparent;
    vertical-align: middle;
    color: #4f4f4f;
    font-size: 1.5rem;

}

.item_con:hover{
    border-bottom: 3px solid #4f4f4f;
}

.titleLayer {
    width: 100vw;
    position: absolute;
    padding: 12vh;
    left: 0vw;
    z-index: 1;
    transition: opacity 250ms;
    visibility: visible;
    opacity: 1;
    font-size: 64px;
    display: block;
    line-height: 70vh;
    font-family: 'Bradley Hand', cursive;
}

.back-pic {
    height: 100vh;
    background-size: cover;
    padding: 10vh
}

.bg-white {
  background-color: white;
}

.profile_pic2 {
    display: none;
}

.see_gallery {
    text-align: center;
    width: 100%;
    border-radius:5px;
    min-height: 10vh;
    font-size: 36px;
    background-color: skyblue;
    color: white;
    font-family: 'Chalkduster', 'fantasy';
}



.footer {
}