.nav{
    background-color:white;
    box-shadow: rgba(0,0,0,.5) 0px 10px 30px;
    border-bottom: 1px solid #f8f8f8;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    flex-wrap: wrap;
}

.logo{
    background: transparent;
    display: table-cell;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 55%;
    padding: 1%;

}

.logo > img{
    flex-shrink: 0;
    min-width:2%;
    min-height: 2%;
}

.menu {
    display: none;
}

.menu-mobile {
    top: 0;
}

.menu-button {
    /*flex-wrap: wrap;*/
    width: 12rem;
    height: 9rem;
    padding-right:0;
    background-color: lightgray;
    border-radius: 1rem;
    /*border: solid;*/
}

.menu-button:hover {
    color: #fff;
    background-color: #5a6268;
    border-radius: 0.25rem;
    /*border-color: #545b62;*/
}

.top-left-logo {
    position: absolute;
    top:-1.5rem;
    padding: 5%;
    font-size: 4rem;
    color: #4f4f4f;
    font-variant: small-caps;
    font-weight: bold;
    font-family: 'FreeMono', monospace;
}

.logo{
    background: transparent;
    display: table-cell;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 75%;
    padding: 1%;

}

.left-content {
    display: none;
}

.right-content {
    display: none;
}

.see_gallery {
    text-align: center;
    flex-wrap: wrap;
    width: 75vw;
    margin-left: 10vw;
    border-radius:5px;
    min-height: 10vh;
    font-size: 5rem;
    background-color: skyblue;
    color: white;
    font-family: 'Chalkduster', 'fantasy';
}

.titleLayer {
    width: 100vw;
    padding-left: 12vh;
    padding-right: 12vh;
    padding-top: 25vh;
    left: 0vw;
    z-index: 1;
    transition: opacity 250ms;
    visibility: visible;
    opacity: 1;
    font-size: 5rem;
    display: block;
    font-family: 'Bradley Hand', cursive;
}

.dropdown-item1 {
    display: block;
    width: 100vw;
    height: 100px;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    font-size: 3rem;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-family: 'FreeMono', monospace;
}

.dropdown-item1:hover {
  border-bottom: 3px solid #4f4f4f;
  background-color: rgba(6,69,173,0.5);
  color: white;
}

.profile_pic1 {
    display: none;
}

.profile_pic2 {
    margin-top: 4vh;
    width: 100vw;
    min-height: 50vh;
    line-height: 40vh;
    font-family: 'Bradley Hand', cursive;
    font-size: 48px;
    background: url('/static/portfolio/images/profile_pic2.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*.titleLayer2 {
    width: 100vw;
    position: absolute;
    left: 0vw;
    z-index: 1;
    transition: opacity 250ms;
    visibility: visible;
    opacity: 1;
    font-size: 64px;
    display: block;
    line-height: 70vh;
    font-family: 'Bradley Hand', cursive;
}*/

.gallery-btn {
    display: none;
}

.gallery-btn-mobile {
    text-align: center;
    width: 100%;
    border-radius:5px;
    min-height: 10vh;
    font-size: 36px;
    background-color: skyblue;
    color: white;
    font-family: 'Chalkduster', 'fantasy';
    margin-top: 0.5rem;
}

.content {
    text-align: left;
    font-size: 3rem;
    font-family: OCR A Std, monospace;
    font-weight: bold;
}

footer{
    padding: 3vh;
    height: 10vh;
    text-align: center;
    font-size: 3rem;
    color: #444;
}

.contact-title {
    width: 100vw;
    font-size: 6rem;
    height: 20rem;
    word-wrap:break-word;
    text-align: center;
    background: rgba(255,255,255,0);
    z-index: 1;
    transition: opacity 250ms;
    visibility: visible;
    opacity: 1;
    margin-top:8vh; 
    font-family: 'Bradley Hand', cursive;
}

.email {
    width: 90vw;
    border: solid;
    font-size: 4rem;
}

.message {
    width: 90vw;
    height: 50vh;
    border: solid;
    margin-top:2vh;
    font-size: 4rem;
}

.category {
    text-align: center;
    height: 5rem;
    font-size: 3rem;
    font-family: Jazz LET, fantasy;
    margin-top: 3rem;
}

.gallery-arrow {
    width: 5rem;
    margin-top: 18rem;
}

.gallery-arrow {
    margin-left: 0rem;
}

.see-project-btn {
    font-size: 3rem;
    right: 0;
    margin-left: 70vw;
    width: 20rem;
    height: 3rem;
}

.gallery-pic-mobile {
    top: 15rem;
}

.name {
    display: none;
}

.nav-logo-mobile {
    display: inline-block;
    margin-top: 1rem;
    margin-left: 1rem;
    height: 6rem;
    width: 6rem;
}

.nav-words-mobile {
    margin-left: -2.5rem;
}

.small-icon {
    width:6rem;
    height:6rem;
}